$themes: (

    theme-blue: (
        // 背景
        background_color1:#092276,
        background_color2:#2B66F0,
        font_color1:#2B66F0
    ),
    
    theme-dark: (
         // 背景
         background_color1:#333847,
         background_color2:#2b2b2c,
         font_color1:#484D5E
    ),

    theme-red: (
         // 背景
         background_color1:#e7474d,
         background_color2:#FF6267,
         font_color1:#e7474d
    ),
     
    theme-green: (
        // 背景
        background_color1:#1ca84b,
        background_color2:#3BD16C,
        font_color1:#1ca84b
    )
);